<link href="../styles.css" rel="stylesheet">
<div ng-controller='customersController'>
	<h1> Customers</h1>
	<div id="form">
		<form>
			<p><strong> Add a New Customer </strong></p>
			Customer Name: <input type= "text" ng-model='new_customer.name'>
			<button ng-click="addCustomer()">Submit</button>
		</form>
		<p ng-show='validation()'>{{error}}</p>
	</div>
	
	<input type="text" ng-model="filter" placeholder="Filter">
	<table class="table table-bordered table-striped">
		<thead>
			<th class='info'>Name</th>
			<th class='info'>Created Date</th>
			<th class='info'>Action</th>
		</thead>
		<tbody ng-repeat="customer in customers | filter:filter">
			<tr class='danger'>
				<td>{{customer.name}}</td>
				<td>{{customer.date | date: 'MMMM dd, yyyy'}}</td>
				<td><button id="trash" ng-click='deleteCustomer(customer.name)'><span class="glyphicon glyphicon-trash"></span></button></td>
			</tr>
		</tbody>
	</table>
	</div>